@media (min-width: 1024px) {
    .ContainerOfFocus{
        background-color: black;
        border-radius: 5px;
        -webkit-box-shadow:0px 0px 38px 0px rgba(0,51,204,0.82);
        -moz-box-shadow: 0px 0px 38px 0px rgba(0,51,204,0.82);
        box-shadow: 0px 0px 38px 0px rgba(0,51,204,0.82);
 display :flex;
 
    }.ContainerOfFocus section{
  background-color: #2B2C31;margin-top: 10px;
  margin-bottom: 10px; color :white;font-size: 20px;
  display:flex;flex-direction: column;
  justify-content: center;align-items: center;

}.MiniContainerOfFocus{
  text-align: center;
  display: flex;justify-content: space-around;
  align-items: center;
  gap: 10px;  overflow: hidden;
  padding-bottom: 20px;
}.MiniContainerOfFocus section{
    width: 30%;border-radius: 10px;
    height: 30pc;  overflow: hidden;
    padding: 10px;
}.containerOfLiveExplore{
    width: 70%;
}.MainContainerOfJourney{
    display: block;
}

.uniqueContainerStyle {
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  color: #E0E0E0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: rgba(30, 30, 30, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.uniqueMainHeading {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}

.uniqueTimelineList {
  position: relative;
  padding: 0;
  list-style: none;
}

.uniqueTimelineList:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  width: 2px;
  height: 100%;
  background-color: #1E88E5; /* Lighter blue for dark theme */
}

.uniqueTimelineItemBox {
  position: relative;
  padding: 20px 0;
}

.uniqueTimelineItemBox:before {
  content: "";
  position: absolute;
  top: 27px;
  left: 5%;
  margin-left: -10px;
  border: 10px solid transparent;
  border-top-color: #1E88E5; /* Lighter blue for dark theme */
}

.uniqueTimelineItemBox:after {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #1E88E5; /* Lighter blue for dark theme */
  background-color: #3BB2FF;
}
.uniqueGradientBackground {
  background-image: linear-gradient(to right top, black, black, black, black, black);
  padding-bottom: 20px;
  padding-top: 20px;
}

}